 

.grey{
background: grey;
}
.side{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUDvxAPuvdKtq7XtRQu3mc0RQF-z35Xfk-Kd6i7MnIYx15ApAc);
float: left;
height: 250;
width: 30%;
}
.h1 {
color: #FF0000;
font-family: 'Kaushan script',cursive;
font-size: 5px;
text-align:center
background-color: #000000;
}
.body{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUDvxAPuvdKtq7XtRQu3mc0RQF-z35Xfk-Kd6i7MnIYx15ApAc);
float: right;
height: 250;
width: 70%;
}
.kertas{
background: black;
}

.terdalam{
background: maroon;
}
.clear{
background: red;
}

