
.head{
background: black;
}
.grey{
background: grey;
}
.side{
background: white;
float: right;
height: 250;
width: 30%;
}

.body{
background: white;
float: left;
height: 250;
width: 70%;
}
.terdalam{
background: silver;
}
.clear{
background: red;
}

